@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Coolvetica-Regular";
  src: url("fonts/Coolvetica Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(138, 56, 245, 1) 15%,
    rgba(147, 76, 194, 1) 50%,
    rgba(186, 76, 194, 1) 85%
  );
  width: 100%;
  font-family: "Coolvetica-Regular", Helvetica, Arial, sans-serif;
  color: #fff;
  min-width: 1440px;
  min-height: max-content;
  position: relative;
  overflow-x: clip;
  scroll-behavior: smooth;
}

button:focus-visible {
  outline: 2px solid #a54ae2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

h1 {
  font-size: 128px;
  margin-bottom: 12px; 
}

h2 { 
  font-size: 128px;
  margin-bottom: 8px;
}

h3 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  letter-spacing: 0.5px;
}

code {
  font-weight:100;
  font-size: 15px;
  letter-spacing: 2px !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
